# terraform
*.tfvars
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
infrastructure/outputs
image/
outputs/

# fluxcd
pub-cert.pem
**/sealed-secrets/*-unsealed.yml
