machine:
  install:
    disk: ${install_disk}
  disks:
      - device: /dev/sdb
        partitions:
          - mountpoint: /var/mnt/openebs-local
  # network:
  #   hostname: ${hostname}
  kubelet:
    extraMounts:
      - destination: /var/local
        type: bind
        source: /var/local
        options:
          - bind
          - rshared
          - rw
      - destination: /var/mnt/openebs-local
        type: bind
        source: /var/mnt/openebs-local
        options:
          - bind
          - rshared
          - rw
    extraArgs:
          rotate-server-certificates: true
