#cloud-config
package_update: true
packages:
  - qemu-guest-agent
  - curl
  - iptables
users:
  - name: ${vm_user}
    ssh_authorized_keys:
      - ${ssh_pub_key}
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
runcmd:
  - systemctl enable qemu-guest-agent
  - systemctl start qemu-guest-agent
